@{
    
}
     <h2 id="DataMenu">DD Consulting - Data Capture & Questionaire</h2>

	<img src="images/approach_pic.jpg" height="205" width="347" alt="A Picture of People Consulting" title="Consulting" style="margin: 0px 10px 10px 5px;" 
    class="img-responsive" />
	<p>&nbsp</p>

