@{
        var Item_Name = "";
        var Active_TF = "";

    if(IsPost)
    {
      Item_Name = Request["Item_Name"];
      Active_TF = Request["Active_TF"];

       var db = Database.Open("DDIncV2");
 
      var sqlInsert = "INSERT INTO Master_Types (Master, Active) Values (@0, @1)";
//       Response.Write(Mstr_Type_ID + ", " + Master_Name + ", " + Item_Name + ", " + Active_TF);
      db.Execute(sqlInsert, Item_Name, Active_TF);
      Response.Redirect("MasterTypes.cshtml");
    }

}

<h2>Create a New Master Type</h2>
&nbsp
<div style ="max-width: 500px; margin-left:2%;  ">
<form action="" method="post">
    <fieldset>
    <div class="form-group">
        <label for="Item_Name" class="control-label">Type Name</label>
        <input type="text" name="Item_Name" class="form-control" placeholder="Ex: Department, Company Type, etc.">
    </div><br/>

    <div class="form-group"> 
        <label for="Active_TF" class="control-label">Active (True/False)</label>
            <select name="Active_TF" size="1" class="form-control">
                <option value = "1" selected="selected">True</option>
                <option value = "0">False</option>
            </select>
    </div><br/>

    </fieldset>
    <input type="submit" value="Add Type" class="btn btn-lg btn-default" />
</form>
</div>
<br/>

<p>
    <a class="btn btn-default btn-lg" href="~/Datacap/Masters/MasterTypes.cshtml" >Back</a>
    &nbsp
</p>