@{
    var sSQL = "SELECT Master_ID as Item_ID, Master as Item FROM Master_Types where Active in (1)";
    var db = Database.Open("DDIncV2");
    var sel_MTypes = db.Query(sSQL);
    var sSQL2 = "SELECT * FROM Masters where Active in (1) and Master like @0";
    var Master_String = "%" + Request["Master_String"] +"%";
    var qryMaster = db.Query(sSQL2, Master_String);

//MstrID identifies the Master Type; ie Accreditation, PhoneType, etc. Next two lines prep for creating a new Item.
    var sSQL3 = "SELECT Master_ID FROM Master_Types where Master = @0";
    var MstrID =db.QueryValue(sSQL3, Request["Master_String"]);

    var gMaster = new WebGrid(qryMaster, rowsPerPage: 10);
    
}

<h2>Work with the 'Masters' Table</h2><br/>

<form action="" method="post">
<div id="grid">

        <label for="Master_String" class="control-label">Select Master Type</label>
        <div class="form-group form-inline"> 
                <select name="Master_String" size="1" class="form-control" style="width:200px;" >
                <option disabled selected> -- select an option -- </option>
                <option value="">All Master Types</option>
                @foreach(var row in sel_MTypes)
                {
                    <option @(Request["Master_String"] == row.Item ? " selected=\"selected\"" : "")>@row.Item</option>
                } </select>
        <input type="submit" value="Select" class="btn btn-md btn-default" />
    </div>


&nbsp


<div style ="max-width: 900px; margin-left:2%;">
<div class="table-responsive">
    @gMaster.GetHtml(
    tableStyle: "table webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    columns: 
    gMaster.Columns(
        gMaster.Column("Item_ID", header: "Action", format: 
        @<text><a class="btn btn-default btn-xs" title="Create a New Item in the Masters Table" href="~/DataCap/Masters/CreateMstrItem.cshtml?typeid=@item.Master_ID" >C</a> |
                <a class="btn btn-default btn-xs" title="Edit This Item" href="~/DataCap/Masters/EditMasterItem.cshtml?id=@item.Item_ID" >E</a>
        </text> ),
        gMaster.Column("Master", "Master Type"),
        gMaster.Column("Item", "Item Name"),
        gMaster.Column("Active", "Active")
        )
    ) 
    <p>&nbsp</p>
</div>
</div>
</div>
</form>


<p>
    <a class="btn btn-default btn-lg" href="~/index.cshtml" >Back</a>
    @if (qryMaster.Count() == 0)
    {
        <a class="btn btn-default btn-lg" href="~/DataCap/Masters/CreateMstrItem.cshtml?typeid=@MstrID" >Create New Item</a>        
    }
</p>

@section script{
<script type="text/javascript">
   $(function(){
//        $('th a, tfoot a').live('click', function() {
        $(document).on('click', 'th a, tfoot a', function () {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
</script>
}