@{
    var qid=Request["qid"];
    
    var sSQL = "SELECT * FROM Question where Q_ID=@0";

    var db = Database.Open("DDIncV2");
    var Q_Item = db.QuerySingle(sSQL, qid);

    var Item_Name = Q_Item.Question;

    if(IsPost){
        var sSQL_Delete = "DELETE FROM Question WHERE Q_ID=@0";
        db.Execute(sSQL_Delete,qid);
        Response.Redirect("Questions.cshtml");
        }
}

<h1 style="text-align: center">Delete an Question from the Question Table</h1>
<p>&nbsp</p>
<h3 style="text-align: center">Note: Questions in the Question Table <u><i>should not</i></u> be Deleted.</h3>
<h3 style="text-align: center">Set the 'Active' field to 'False' instead.</h3><br/>
<p style="font-family: Calibri; font-size: 180% ; font-weight: 300; text-align: center">
    Are you sure you want to delete the following Question: <br/>
    <span style="font-weight: 900">@Item_Name </span><b>?</b> <br/>
    from the Question Table?</p>
<p>&nbsp</p>
<form action="" method="post">
    <input class="btn btn-default btn-lg" type="submit" value="Yes"/>
    <input class="btn btn-default btn-lg" type="button" value="No" onclick="window.location = 'Questions.cshtml'" />
</form>


