@{
     var Pers_id=Request["pers"];
    var co_id=Request["id"];

    var sSQL ="";
    var db = Database.Open("DDIncV2");

//Get Co Name    
    sSQL = "SELECT * FROM Company where CO_ID=@0";
    var Co = db.QuerySingle(sSQL, co_id);
    var Form_CO_Name ="";
    if(String.IsNullOrEmpty(Co.CO_Abbrev_Name))
    { Form_CO_Name = Co.CO_Name; }
    else
        {if(String.IsNullOrEmpty(Co.CO_Name))
            { Form_CO_Name = Co.CO_Abbrev_Name;}
        else{ Form_CO_Name = Co.CO_Name + "("+ Co.CO_Abbrev_Name +")";}
    }

//Get Full Name    
    sSQL = "SELECT * FROM Person where PersID=@0";
    var Pers = db.QuerySingle(sSQL, Pers_id);
    var Form_Full_Name = Pers.FirstName + " " + Pers.LastName;
    


//Do the Delete
    if(IsPost){
        var sSQL_Delete = "DELETE FROM Person WHERE PersID=@0";
        db.Execute(sSQL_Delete, Pers_id);
      Response.Redirect("~/Datacap/Persons/Persons?id=" + @co_id);
        }
 }

<h1>Delete a Person</h1>
<p>&nbsp</p>
<p style="font-family: Calibri; font-size: 180% ; font-weight: 300 ">
    Are you sure you want to delete <span style="font-weight: 900">@Form_Full_Name</span>
    , who works for
    <span style="font-weight: 900">@Form_CO_Name ?</span></p>
<p>&nbsp</p>
<form action="" method="post">
    <input class="btn btn-default btn-lg" type="submit" value="Yes"/>
    <input class="btn btn-default btn-lg" type="button" value="No" onclick="window.location = 'Persons?id=' + @co_id" />
</form>


