@{
    WebSecurity.RequireAuthenticatedUser();

}

        <h3 id="DataMenu">Edit Options</h3>
        <div class="datamenu">
			    <p><a class="btn btn-default btn-block" href="Companies/Companies.cshtml" >Companies</a></p>
			    <p ><a class="btn btn-default btn-block" href="/Persons/People.cshtml" >People</a></p>
			    <p ><a class="btn btn-default btn-block" href="Questions.cshtml" >Questions</a></p>
			    <p ><a class="btn btn-default btn-block" href="Users.cshtml" >User Accounts</a></p>
			    <p ><a class="btn btn-default btn-block" href="#" >Data Analysis</a></p>
			    <p > <a class="btn btn-default btn-block" href="#" >Add or Edit Master Tables</a></p>
        </div>